$font-stack:    'Montserrat', sans-serif;
$back-primary: #916E64;
$back-secondary: #F5967D;
$primary: #B4DCAF;
$secondary: #F56964;
$font-title: #333333;
$font-content: #808080;
$azul: #7DCDBE;
$cinza-quente: #CDC3BE;


body {
  font: 100% $font-stack;
  color: $primary-color
}
